In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [3]:
segments = pd.read_csv("./dataset/strava-segments.csv")

In [4]:
segments[["s_lat", "s_lng"]] = segments["start_latlng"].apply(lambda x: pd.Series(np.array(eval(x))))

In [5]:
segments[["e_lat", "e_lng"]] = segments["end_latlng"].apply(lambda x: pd.Series(np.array(eval(x))))

In [35]:
activities = pd.DataFrame()
for i in range(1, 7):
    activities = activities.append(pd.read_csv("strava-activities-{}.csv".format(i)), ignore_index=True)

In [36]:
activities.drop("Unnamed: 0", axis=1, inplace=True)

In [37]:
activities = activities.dropna()

In [38]:
activities["segment"] = activities["segment"].astype(int, copy=False)

In [39]:
activities[activities["start_date"].isnull()]["start_date"]

Series([], Name: start_date, dtype: object)

In [40]:
def extract_year(strdate):
    dt = datetime.strptime(strdate, '%Y-%m-%dT%H:%M:%SZ')
    return dt.year

In [41]:
 activities["Year"] = activities["start_date"].apply(lambda x: pd.Series(extract_year(x)))

In [42]:
activities.head()

,athlete_name,elapsed_time,moving_time,rank,segment,start_date,start_date_local,Year
0,Tiziano L.,303.0,303.0,1.0,8901694,2017-03-03T14:40:08Z,2017-03-03T15:40:08Z,2017
1,Fabianelli R.,324.0,324.0,2.0,8901694,2015-12-20T10:06:44Z,2015-12-20T11:06:44Z,2015
2,Aldo B.,338.0,338.0,3.0,8901694,2015-12-20T10:11:17Z,2015-12-20T11:11:17Z,2015
3,Francesco V.,341.0,341.0,4.0,8901694,2015-12-13T09:32:11Z,2015-12-13T10:32:11Z,2015
4,Giulio C.,360.0,360.0,5.0,8901694,2014-12-11T14:55:10Z,2014-12-11T15:55:10Z,2014

In [43]:
def extract_month(strdate):
    dt = datetime.strptime(strdate, '%Y-%m-%dT%H:%M:%SZ')
    return dt.month

In [44]:
activities["Month"] = activities["start_date"].apply(lambda x: pd.Series(extract_month(x)))

In [45]:
activities_parsed = pd.merge(activities, segments, left_on="segment", right_on="id").drop(["id", "id.1", "points", "start_latlng", "end_latlng"], axis=1)

In [46]:
activities_parsed.to_csv(path_or_buf="activities-parsed.csv", index=False)

In [47]:
activities_parsed.head()

,athlete_name,elapsed_time,moving_time,rank,segment,start_date,start_date_local,Year,Month,avg_grade,...,climb_category_desc,distance,elev_difference,name,resource_state,starred,s_lat,s_lng,e_lat,e_lng
0,Tiziano L.,303.0,303.0,1.0,8901694,2017-03-03T14:40:08Z,2017-03-03T15:40:08Z,2017,3,7.2,...,4,1218.2,99.0,sopra lago,2,False,43.019921,11.213783,43.024506,11.207448
1,Fabianelli R.,324.0,324.0,2.0,8901694,2015-12-20T10:06:44Z,2015-12-20T11:06:44Z,2015,12,7.2,...,4,1218.2,99.0,sopra lago,2,False,43.019921,11.213783,43.024506,11.207448
2,Aldo B.,338.0,338.0,3.0,8901694,2015-12-20T10:11:17Z,2015-12-20T11:11:17Z,2015,12,7.2,...,4,1218.2,99.0,sopra lago,2,False,43.019921,11.213783,43.024506,11.207448
3,Francesco V.,341.0,341.0,4.0,8901694,2015-12-13T09:32:11Z,2015-12-13T10:32:11Z,2015,12,7.2,...,4,1218.2,99.0,sopra lago,2,False,43.019921,11.213783,43.024506,11.207448
4,Giulio C.,360.0,360.0,5.0,8901694,2014-12-11T14:55:10Z,2014-12-11T15:55:10Z,2014,12,7.2,...,4,1218.2,99.0,sopra lago,2,False,43.019921,11.213783,43.024506,11.207448